.zl-header-wrapper {
  position: relative;
  z-index: 120;
  width: 100%;
  height: 90px;
  min-height: 66px;
  font-size: 1rem;
  background-color: var(--yougong-base-color);
  border-bottom: 1px solid var(--yougong-base-color2);
  box-shadow: 2px 0 10px rgb(0 0 0 / 20%);

  @media screen and (min-width: 992px) {
    .container {

      display: flex;
      align-items: center;
      width: 93.705%;
      height: 100%;
      margin: 0 auto;

      /* logo */
      .logo {
        width: 133px;
        height: 78px;
        min-height: 66px;
        line-height: 78px;

        img {
          width: 45px;
          height: 45px;
        }
      }

      /* bar */
      .bar {

        flex: 1;

        height: 100%;

        .list {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;



          li {

            padding: 0 2%;

            &:hover {
              cursor: pointer;

              a {
                color: var(--yougong-base-color6);
                text-decoration: none;
              }
            }
          }


        }
      }

      /* menu */
      .menu {
        display: none;
        width: 44px;
        height: 34px;
        // 
      }
    }
  }

  @media screen and (max-width: 992px) {
    .container {
      position: relative;
      display: flex;
      align-items: center;
      width: 93.705%;
      margin: 0 auto;

      /* logo */
      .logo {
        width: 133px;
        height: 78px;
        min-height: 66px;
        line-height: 78px;

        a {
          text-decoration: none;
        }

        img {
          width: 45px;
          height: 45px;
        }
      }

      /* bar */
      .bar {
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
        height: 100%;
      }

      /* menu */
      .menu {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        transform: translate(0, -50%);

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

:global(.ant-dropdown-menu) {
  background-color: #1A559d !important;
  padding: 0 0 0 0 !important;
}

:global(.ant-dropdown) {
  padding: 8px 0 !important;
}

:global(.ant-dropdown-menu-item) {
  color: white !important;
}

:global(.ant-dropdown-menu-item:hover:hover) {
  color: white !important;
  background-color: #073763 !important;
}
